<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="text-align: center;">
      <h3>
        Search Github profiles and information on the users profile.
        <br/>
        Find out about the repositories they've shared how many followers,
        <br/>
        how many stars they have on each of their repositories, and
        <br/>
        links to download them too.
        <br/>
        <br/>
        <b>Enter kekons4 to view my profile.</b>
      </h3>
  </div>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
